#root {
  max-width: 1920px;
}

.header {
  width: 100%;
  height: 100px;
  padding-left: 150px;
  border: 0px;
  display: flex;
  place-items: center;
  background-color: #FF2950;
  color: white;
}
.passions {
  width: 100%;
  height: 500px;
}
.portfolio {
  width: 100%;
  height: 500px;
}
.footer {
  width: 100%;
  height: 140px;
  display: flex;
  place-items: center;
  justify-content: space-around;
  background-color: #F1F1F1;
  
}

.section-introduce {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me {
  width: 500px;
  height: 600px;
  margin-right: 200px;
}

.image-me {
  margin-top: 2rem;
  width: 500px;
  height: 500px;
}